div {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: aliceblue;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    width: 100%;
}

#background {
    height: 725px;
}

body {
    background-color: rgb(255, 246, 255);
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
    text-decoration: none;
}

.book,
.join {
    background-color: steelblue;
    color: black;
}

.book:hover,
.join:hover {
    background-color: slategray;
    color: black;
    text-decoration: none;
}

#background {
    background-color: rgb(218, 210, 105);
}

.msg {
    background-color: rgb(20, 30, 13, 17);
}

footer {
    background-color: rgb(20, 30, 13, 17);
}

.home-title {
    color: #9d60;
}

h4 {
    color: white;
}

.msg h2 {
    color: white;
}

.msg p {
    color: aliceblue;
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: beige;
}

.icon {
    width: 80px;
}

.logo {
    width: 5%;
}

footer h3 a:hover {
    text-decoration: none;
    text-decoration: underline;
}

#hero-img {
    width: 100%;
}